<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="title">RUTAS</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Nombre Ruta</label>
                <input type="text" class="form-control"  placeholder="Ingrese el nombre de la Ruta" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label>Nombre Ruta</label>
                <input type="text" class="form-control"  placeholder="Ingrese el nombre de la Ruta" >
              </div>
            </div>
          </div>
         <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Nombre Ruta</label>
              <input type="text" class="form-control"  placeholder="Ingrese el nombre de la Ruta" >
            </div>
          </div>
         </div>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="title">MAPA</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div id="demo" class="geocoder"></div>
              <div id="map" style="width: 100%; height: 400px;" ></div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
